@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./variables";

:root {
  --yellow-color: #FFE600;
  --primary-text-color: #ffffff;
}

body {
  background-color: $meli-light-gray;
  height: 100%;
}
