@import "../../styles/variables";

.titleProduct {
  color: $meli-dark-gray;
  font-weight: 700;
}
.titleStyle {
  color: $meli-medium-gray;
}

.descriptionStyle {
  color: $meli-gray;
}

.meli-blue {
  background-color: $meli-blue;
}
